body{ font-family:"Garamond"; background-color: #B0C4DE;}
	#customers { font-family:"Garamond";
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th { font-family:"Garamond";
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){ font-family:"Garamond";background-color: #f2f2f2;}
#customers tr:nth-child(odd){ font-family:"Garamond";background-color: #E99674;}

#customers tr:hover { font-family:"Garamond";background-color: skyblue;}

#customers th { font-family:"Garamond";
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2196F3;
  color: white;
}
.topnav { font-family:"Garamond";
  overflow: hidden;
  background-color: #66ccff;
}

.topnav a { font-family:"Garamond";
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { font-family:"Garamond";
  background-color: #ddd;
  color: black;
}

.topnav a.active { font-family:"Garamond";
  background-color: #2196F3;
  color: white;
}

.topnav .search-container { font-family:"Garamond";
  float: right;
}

.topnav input[type=text] { font-family:"Garamond";
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button { font-family:"Garamond";
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover { font-family:"Garamond";
  background: #ccc;
}

@media screen and (max-width: 600px) { font-family:"Garamond";
  .topnav .search-container { font-family:"Garamond";
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button { font-family:"Garamond";
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] { font-family:"Garamond";
    border: 1px solid #ccc;  
  }
}